<p-table [value]="tracks" [globalFilterFields]="['category']" [scrollable]="true" scrollHeight="90dvh" rowGroupMode="subheader" groupRowsBy="group.uuid">
    <ng-template #header>
        <tr>
            <th>StartTimestamp</th>
            <th>Duration</th>
            <th>Distance</th>
            <th>Average speed</th>
            <th>Category</th>
            <th>Show on map</th>
            <th>Details</th>
            <th>Edit</th>
        </tr>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>
                <p-columnFilter field="category" matchMode="equals" [showClearButton]="false" [showMenu]="false">
                    <ng-template #filter let-value let-filter="filterCallback">
                        <p-select [ngModel]="value" [options]="categories" appendTo="body"
                            (onChange)="filter($event.value)" placeholder="Select One" [showClear]="true">
                        </p-select>
                    </ng-template>
                </p-columnFilter>
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template #groupheader let-track let-rowIndex="rowIndex" let-expanded="expanded">
        <tr>
            <td colspan="8">
                <button
                        type="button"
                        pButton
                        pRipple
                        [pRowToggler]="track"
                        text
                        rounded
                        plain
                        class="mr-2"
                        [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'">
                </button>
                <span class="font-bold ml-2">{{track.group?.name ?? "No Group"}}</span>
            </td>
        </tr>
    </ng-template>
    <ng-template #groupfooter let-track>
        <tr class="p-rowgroup-footer">
            <td colspan="8" style="text-align: right">Total Tracks</td>
        </tr>
    </ng-template>
    <ng-template #expandedrow let-track>
        <tr>
            <td>{{ track.startTimestampString }}</td>
            <td>{{ track.durationString }}</td>
            <td>{{ track.distanceMeters }}</td>
            <td>{{ track.averageSpeedKph.toFixed(4) }}</td>
            <td>
                <p-select [options]="categories" [(ngModel)]="track.category"
                    (onChange)="onCategoryChange($event.value, track.uuid)" />
            </td>
            <td>
                <a [routerLink]="['/map', track.uuid]">
                <span class="pi pi-map-marker"></span>
                </a>
            </td>
            <td>
                <a [routerLink]="['/details', track.uuid]">
                <span class="pi pi-chart-line"></span>
                </a>
            </td>
            <td>
                <a [routerLink]="['/edit', track.uuid]">
                <span class="pi pi-pencil"></span>
                </a>
            </td>
        </tr>
    </ng-template>
</p-table>
