.map-container {
  position: relative;
  width: 100%;
  height: inherit;
}

.map-frame {
  border: 2px solid black;
  height: 100%;
}

#map {
  position: relative;
  height: inherit;
  width: inherit;
}