app-map{
    height: 98vh;
}

  .container {
    display: flex;
  }
  .container .main-body {
    width: 100%;
  }
  .container aside {
    width:3lh;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.5s;
  }
  
  .container aside.expanding {
    width: 30vh
  }