app-map {
  height: 93vh;
  width: 100%;
}

.container {
  height: 93vh;
  display: flex;
}

.container .main-body {
  width: 100%;
  position: relative;
}

.container aside {
  width: 0;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.5s;
}

.container aside.expanding {
  width: 30vh
}

#map {
  position: absolute;
  top: 0;
  left: 0;
}

#overlaybutton {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
}

#overlaybutton.expanding {
  display: none;
}