<section class="container">
    <aside [ngClass]="{'expanding': isExpanding}" [ngStyle]="{backgroundColor:'var(--p-content-background)'}">
      <div>
        <p-button id="sidebarbutton" (onClick)="toggleSideBar()" icon="pi pi-bars" />
          <p-button id="modeswitch" (onClick)="switchGroupMode()" >{{modeswitchText()}}</p-button>
      </div>
        <p-tree id="tree" [value]="tracksSignal()" selectionMode="single" [(selection)]="selection" />
    </aside>
    <div class="main-body">
        <p-button [ngClass]="{'expanding': isExpanding}" id="overlaybutton" (onClick)="toggleSideBar()" icon="pi pi-bars" />
        <app-map id="map" [(showTrackMode)]="mapTrackMode" zoomKey="tracker"></app-map>
    </div>
</section>
