<section class="container">
    <aside [ngClass]="{'expanding': isExpanding}" [ngStyle]="{backgroundColor:'var(--p-content-background)'}">
        <p-button id="sidebarbutton" (onClick)="toggleSideBar()" icon="pi pi-bars" />
        <p-tree id="tree" [value]="tracks" selectionMode="single" [(selection)]="selection" />
    </aside>
    <div class="main-body">
        <p-button [ngClass]="{'expanding': isExpanding}" id="overlaybutton" (onClick)="toggleSideBar()" icon="pi pi-bars" />
        <app-map id="map" [(showTrackMode)]="mapTrackMode"></app-map>
    </div>
</section>