app-map {
  height: 100%;
  width: 100%;
}

.container {
  height: 94dvh;
  display: flex;
}

.container .main-body {
  width: 100%;
  position: relative;
}

.container aside {
  width: 0;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.5s;
}

.container aside.expanding {
  width: 30em
}

@media (max-width: 599.98px) and (orientation: portrait),
(max-width: 959.98px) and (orientation: landscape) {
  #tree {
    padding: 0
  }
}


#map {
  position: absolute;
  top: 0;
  left: 0;
}

#overlaybutton {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
}

#overlaybutton.expanding {
  display: none;
}